<!-- index.ejs -->
<html>
  <head>
    <title>About page</title>
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <p>Here is some text about us</p>
    <a href="<%= linkBack %>">Go back</a>
    <%- include('footer') %>
  </body>
</html>
